# Solve problem 1

In [1]:
import pandas as pd

movies = pd.read_csv('movies.csv')
ratings = pd.read_csv('ratings.csv')

join = ratings.merge(movies, on='movieId', how='inner')

def class_movie(rating):
    if rating <= 2:
        return 'Низкий рейтинг'
    elif rating <= 4:
        return 'Средний рейтинг'
    if rating >= 4.5:
        return 'Высокий рейтинг'
    
join['class'] = join['rating'].apply(class_movie)
join.head(10)

,userId,movieId,rating,timestamp,title,genres,class
0,1,31,2.5,1260759144,Dangerous Minds (1995),Drama,Средний рейтинг
1,7,31,3.0,851868750,Dangerous Minds (1995),Drama,Средний рейтинг
2,31,31,4.0,1273541953,Dangerous Minds (1995),Drama,Средний рейтинг
3,32,31,4.0,834828440,Dangerous Minds (1995),Drama,Средний рейтинг
4,36,31,3.0,847057202,Dangerous Minds (1995),Drama,Средний рейтинг
5,39,31,3.0,832525157,Dangerous Minds (1995),Drama,Средний рейтинг
6,73,31,3.5,1255591860,Dangerous Minds (1995),Drama,Средний рейтинг
7,88,31,3.0,1239755559,Dangerous Minds (1995),Drama,Средний рейтинг
8,96,31,2.5,1223256331,Dangerous Minds (1995),Drama,Средний рейтинг
9,110,31,4.0,840100695,Dangerous Minds (1995),Drama,Средний рейтинг

# Solve problem 2

In [3]:
kwd = pd.read_csv('keywords.csv')

geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],
            'Северо-Запад': ['петербург', 'псков', 'мурманск'],
            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
           }

def geo(word):
    k = word.split(' ')
    result = 'undefined'
    for r, g in geo_data.items():
        if len(list(set(k) & set(g))) != 0:
            result = r
    return result
    
kwd['region'] = kwd['keyword'].apply(geo)
kwd[(kwd.region != 'undefined')].head(10)

                       keyword   shows          region
127               авито москва  979292           Центр
370   авито ру санкт петербург  425134    Северо-Запад
849            авито ярославль  209581           Центр
1063       фарпост владивосток  176951  Дальний Восток
1236      банк санкт петербург  174375    Северо-Запад
1259                    москва  153050           Центр
1346           санкт петербург  144232    Северо-Запад
1396           гисметео москва  140279           Центр
1482          госуслуги москва  133061           Центр
1579                авито тула  126168           Центр